<mat-dialog-content 
  fxLayout 
  fxLayoutAlign="center">
  <h1>{{ passedData.teamName }}</h1>
    <mat-list>
      <mat-list-item class="item">
        <p>Wins: {{ passedData.wins }}</p> 
        <mat-action-list>
          <button mat-mini-fab color="accent"><mat-icon>add</mat-icon></button>
          <button mat-mini-fab color="accent"><mat-icon>remove</mat-icon></button>
        </mat-action-list>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">
        <p>Draws: {{ passedData.draws }}</p> 
        <mat-action-list>
            <button mat-mini-fab color="accent"><mat-icon>add</mat-icon></button>
            <button mat-mini-fab color="accent"><mat-icon>remove</mat-icon></button>
        </mat-action-list>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="item">
        <p>Played: {{ passedData.played }}</p> 
        <mat-action-list>
            <button mat-mini-fab color="accent"><mat-icon>add</mat-icon></button>
            <button mat-mini-fab color="accent"><mat-icon>remove</mat-icon></button>
        </mat-action-list>
      </mat-list-item>
    </mat-list>
</mat-dialog-content>