<mat-dialog-content 
  fxLayout 
  class="table" 
  fxLayoutAlign="center">
  <form 
    class="container" 
    [formGroup]="editTableForm" 
    (ngSubmit)="onSubmit()"
    fxLayoutAlign="center"
    fxLayout="column">
      <mat-label>{{ passedData.teamName }}    </mat-label>
    <mat-form-field 
      class="example-full-width" 
      mat-dialog-content>
      <input 
        matInput 
        placeholder="Goals" 
        type="number"
        formControlName="firstTeamGoals">
        <mat-error>
            Please Add a score - ONLY accepts numbers
        </mat-error>
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary" 
      type="submit"
      [disabled]="editTableForm.invalid">
      Update
    </button>
  </form>
</mat-dialog-content>