<mat-dialog-content 
  fxLayout 
  fxLayoutAlign="center">
  <div class="modal">
    <h3>{{ passedData.teamName }}</h3>
      <mat-list>
        <mat-list-item class="item">
          <p class="info">Wins: {{ passedData.wins }}</p> 
          <mat-action-list>
            <button mat-mini-fab color="accent" (click)="addWin(passedData.teamId, passedData)"><mat-icon>add</mat-icon></button>
            <button mat-mini-fab color="accent"><mat-icon>remove</mat-icon></button>
          </mat-action-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="item">
          <p class="info">Draws: {{ passedData.draws }}</p> 
          <mat-action-list>
              <button mat-mini-fab color="accent"><mat-icon>add</mat-icon></button>
              <button mat-mini-fab color="accent"><mat-icon>remove</mat-icon></button>
          </mat-action-list>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="item">
          <p class="info">Played: {{ passedData.played }}</p> 
          <mat-action-list>
              <button mat-mini-fab color="accent"><mat-icon>add</mat-icon></button>
              <button mat-mini-fab color="accent"><mat-icon>remove</mat-icon></button>
          </mat-action-list>
        </mat-list-item>
      </mat-list>
    </div>
</mat-dialog-content>