<section fxLayout fxLayoutAlign="center" class="scores" fxLayout="column">
    <mat-card role="group">
        <mat-card-title fxLayoutAlign="center">Rovers FC 3 - 4 Blatant United</mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center">Date: Sunday</mat-card-subtitle>
        <mat-card-subtitle fxLayoutAlign="center">Time: 17:00</mat-card-subtitle>
    </mat-card>
    <mat-card role="group">
            <mat-card-title fxLayoutAlign="center">Rovers FC 3 - 4 Blatant United</mat-card-title>
            <mat-card-subtitle fxLayoutAlign="center">Date: Sunday</mat-card-subtitle>
            <mat-card-subtitle fxLayoutAlign="center">Time: 17:00</mat-card-subtitle>
    </mat-card>
</section>