<section class="signin">
  <mat-card>
    <mat-card-title fxLayoutAlign="center">Sign In</mat-card-title>
    <form 
    fxLayout="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px" 
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input 
        type="email" 
        matInput 
        placeholder="Your Email" 
        formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input 
        type="password"
        matInput
        placeholder="Your password"
        formControlName="password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
    </form>
    <mat-card-actions>      
      <button mat-button color="primary" (click)="openModal()">Forgot Password?</button>
      <br>
      <button class="googleLogin" mat-raised-button (click)="googleLogin()">SignIn With Google Account</button>
      <button class="facebookLogin" mat-raised-button (click)="facebookLogin()">SignIn With Facebook</button>
    </mat-card-actions>
  </mat-card>
</section>
