<mat-accordion *ngFor="let team of teams | async">
      <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ team.teamName }}
        </mat-panel-title>
      </mat-expansion-panel-header >
      <div *ngFor="let player of players | async">
        <ng-container *ngIf="team.teamName === player.team; else elseTemplate">
          <p>{{ player.displayName }}</p>
        </ng-container>
        <ng-template #elseTemplate>
            <p></p>
        </ng-template>
        </div>
    </mat-expansion-panel>
</mat-accordion>