<mat-accordion *ngFor="let team of teams | async">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{team.teamName}}
      </mat-panel-title>
<!--       <mat-panel-description>
        Click or Tap to {{panelOpenState ? 'Close' : 'Expand'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <p>Hussein</p>
    <p>James</p>
    <p>Jack</p>
    <p>Ronaldo</p>
    <p>Rooney</p>
  </mat-expansion-panel>
</mat-accordion>