<section fxLayout fxLayoutAlign="center" fxLayout="column">
  <div *ngFor="let user of accounts | async" (value)="user.id" >
      <mat-card class="accounts">
        <mat-card-title fxLayoutAlign="center">{{ user.displayName | titlecase }}</mat-card-title>
        <div *ngIf="user.photoURL">
            <img [src]="user.photoURL" alt="profile picture">
        </div>
        <mat-card-content fxLayoutAlign="center">{{ user.email }}</mat-card-content>
        <mat-card-content fxLayoutAlign="center">Subscriber<mat-checkbox [checked]="user.roles.subscriber" disabled></mat-checkbox> </mat-card-content>
        <mat-card-content fxLayoutAlign="center">Editor<mat-checkbox [checked]="user.roles.editor" disabled></mat-checkbox> </mat-card-content>
        <mat-card-content fxLayoutAlign="center">Admin<mat-checkbox [checked]="user.roles.admin" disabled></mat-checkbox> </mat-card-content>
        <div *ngIf="user.team; else elseBlock">
            <mat-card-content fxLayoutAlign="center">This person plays for: {{ user.team }}</mat-card-content>
        </div>
        <ng-template #elseBlock>
                <mat-card-content fxLayoutAlign="center">This Account has not been assigned to a team.</mat-card-content>
        </ng-template>
        <mat-card-actions>
        <button mat-button color="warn" matTooltip="Delete This Account" (click)="deleteUser(user.id)"><mat-icon>delete</mat-icon></button>
        <button mat-button  matTooltip="Assign a Team" [matMenuTriggerFor]="teammenu"><mat-icon>add_box</mat-icon></button>
            <mat-menu #teammenu="matMenu">
                <div *ngFor="let team of teams | async">
                    <button mat-menu-item (click)="assignTeam(user.id, team.teamName)">{{ team.teamName }}</button>
                </div>
            </mat-menu>
        <button mat-button matTooltip="Assign A Role" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="makeEditor(user.id)">Make User an Editor</button>
                <button mat-menu-item (click)="makeAdmin(user.id)">Make User an Admin</button>
                <button mat-menu-item (click)="makeSubscriber(user.id)">downgrade User a Subscriber</button>
            </mat-menu>
        </mat-card-actions>
      </mat-card>
  </div>
  </section>