.accounts {
    padding: 3rem;
}

mat-card {
    border: 1px #A6A5A6 solid;
    padding: 2rem;
}

mat-card-title, mat-card-content {
    padding: 1rem;
}

mat-card-content mat-checkbox {
    padding-left: 1.5em;
}
