<section class="postForm" fxLayout fxLayoutAlign="center">
  <mat-card>
  <mat-card-title fxLayoutAlign="center">Write A New Blog Post</mat-card-title>
    <img src="{{ imageURL }}" alt="">
    <form class="form" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm)">
        <label for="">Image:</label>
        <input 
          type="file" 
          name="file" 
          class="upload" 
          accept="image/x-png,image/gif,image/jpeg" 
          formControlName="image" 
          (change)="startUpload($event.target.files)">
          <mat-progress-bar mode="determinate" value="{{ uploadPercentage | async }}"></mat-progress-bar>
        <mat-form-field fxLayoutAlign="center" class="full-width">
              <input 
                formControlName="title" 
                type="text" 
                matInput 
                placeholder="Title" 
                value="">
              <mat-error>
                Please Choose a Title!
              </mat-error>
        </mat-form-field>
        <mat-form-field fxLayoutAlign="center" class="full-width">
            <textarea
              rows="20" 
              cols="50" 
              id="content"
              formControlName="content" 
              type="text" 
              matInput 
              placeholder="Post Content" 
              value=""></textarea>
            <mat-error>
              Please add some content!
            </mat-error>
        </mat-form-field>
        <mat-card-actions fxLayoutAlign="center">
          <button 
            mat-raised-button 
            type="submit" 
            color="primary"
            [disabled]="postForm.invalid">
            Save
          </button>
        </mat-card-actions>
    </form>
  </mat-card>
</section>