.postForm {
    text-align: center;
    height: 100%;
    padding: 3.5rem;
    font-family: 'Roboto', sans-serif;
}

.form {
    min-width: 600px;
    max-width: 400px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  mat-form-field, mat-card-title, mat-card-actions {
      padding: 1em;
      margin: 0.5em;
  }

  .upload {
    padding: 2em;
    text-align: center;
  }

img {
  width: 19rem;
}

