
<mat-table mat-table matSort [dataSource]="tableData" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Edit Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let element; let i = index">{{i + 1}}</mat-cell>
    </ng-container>
  
    <!-- TeamName Column -->
    <ng-container matColumnDef="teamName">
      <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.teamName }} </mat-cell>
    </ng-container>

    <!-- Draws Column -->
    <ng-container matColumnDef="draws">
      <mat-header-cell *matHeaderCellDef> Draw </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.draws | number}} </mat-cell>
    </ng-container>
  
    <!-- Wins Column -->
    <ng-container matColumnDef="wins">
      <mat-header-cell *matHeaderCellDef> Win </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.wins | number}} </mat-cell>
    </ng-container>
  
    <!-- played Column -->
    <ng-container matColumnDef="played">
      <mat-header-cell *matHeaderCellDef> Played </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.played | number}} </mat-cell>
    </ng-container>

      <!-- points Column -->
      <ng-container matColumnDef="points">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Points </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.points | number}} </mat-cell>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
              <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item 
                  (click)="openDialog(element.teamName, element.id, element.wins, element.draws, element.played)">
                    <mat-icon>edit</mat-icon>
                    Edit
                  </button>
                <button mat-menu-item><mat-icon>flag</mat-icon>Report</button>
              </mat-menu>
          </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
