
<mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Teams </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="played">
      <mat-header-cell *matHeaderCellDef> Played </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.played | number}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="goalsFor">
      <mat-header-cell *matHeaderCellDef> Goals For </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.goalsFor | number}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="goalsAgainst">
      <mat-header-cell *matHeaderCellDef> Goals Against </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.goalsAgainst | number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.points | number}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
