<section fxLayout="column" fxLayoutAlign="space-around center" >
  <mat-card fxFlex.xs="100" class="card" *ngFor="let post of posts | async">
    <a mat-button routerLink="{{ post.id }}" >
      <mat-card-title>{{ post.title | titlecase }}</mat-card-title>
      <img class="postimg" mat-card-image src="{{ post.image }}" alt="">
    </a>
    <mat-card-content>
      <p class="truncate">{{ post.content }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button routerLink="{{ post.id }}" color="primary" >Read More</button>
    </mat-card-actions>
    <mat-card-actions class="more-actions">
      <div class="share-likes" >
        <button mat-button (click)="addLikes(post.id, post)">{{ post.likes }} LIKES <mat-icon>favorite_border</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="sharemenu">SHARE<mat-icon>share</mat-icon></button>
        <mat-menu #sharemenu="matMenu">
            <share-button button="facebook" text="Share" [showText]="true"></share-button>
            <share-button button="twitter" text="Tweet" [showText]="true"></share-button>
            <share-button button="linkedin" text="Share" [showText]="true"></share-button>
        </mat-menu>
      </div>
      <div class="more-vert" >
        <mat-menu #menu="matMenu">
            <share-buttons show="5"></share-buttons>
            <button mat-menu-item><mat-icon><img src="../../../assets/material-pin-icon.png" alt=""></mat-icon>Pin To HomePage</button>
            <button mat-menu-item (click)="deletePost(post.id)"><mat-icon>delete</mat-icon>Delete</button>
            <button mat-menu-item><mat-icon>flag</mat-icon>Report</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card>
</section>
