<section fxLayout fxLayoutAlign="center">
    <mat-card class="setting">
        <mat-card-title fxLayoutAlign="center">Settings</mat-card-title>
        <mat-card-actions fxLayoutAlign="center">
            <mat-slide-toggle (click)="newTheme()">Night Mode</mat-slide-toggle>
        </mat-card-actions>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-flat-button color="primary" (click)="resetTable()">Reset Table</button>
        </mat-card-actions>
    </mat-card>
</section>